@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #041562;
}
span{
    text-transform: uppercase;
}
#seleccionar-mascota{
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.titulo{
    font-family: 'Fredoka One', cursive;
    color:white;
    font-size: white;
}

.subtitulo{
    color: white;
    font-size: 20px;
}
.tarjeta-de-mokepon{
    width: 160px;
    height: 100px;
    background: #11468f;;
    padding: 10px;
    box-sizing: 10px;
    margin:10px;
    border-radius: 20px;
    display: flex;
    color:white;

}
.tarjeta-de-mokepon img{
    width:80px;
    
}
.tarjetas{
    width: auto;
    flex-wrap:wrap;
    display: flex;
    justify-content: center;
}
input{
    display: none;
}
input:checked + label{
    background-color: #2DCDDF;
}
input:hover + label{
    background-color: cornflowerblue;
}
button:hover{
    background-color: cornflowerblue;
}

#boton-seleccionar{
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 4px solid white;
    color: white;
    font-family: 'Poppins', sans-serif;
}
#seleccionar-ataque{
    flex-direction: column;
    align-items: center;
}

.botonataque{
    font-family: 'Poppins', sans-serif;
    background-color: #11468f;
    padding: 10 px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color:transparent;
    width:80px;
    height: 100px;
    margin:20px;
    font-size: large;
    font-style:oblique;
}
#mensajes{
    width: 280px;
    background:cornflowerblue;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
#boton-reiniciar{
    border:none;
    background-color: cornflowerblue;
    color:#11468f;
}
#boton-reiniciar:hover{
    color: #041562;
}
.ataques{
    display:grid;
    grid-template-columns: 100px 100px;
    text-align: center;
}
.botonesAtaque{
    display: flex;
}
#ver-mapa{
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#mapa{
    border: 2px solid white;
}
@media (max-width: 400px){
    .tarjetas, .botonesAtaque{        
        flex-direction: column;
    }
    #mensajes{
        width: 237px
    }
    
}
